@page "/"

<h1>Hello, Blazor!</h1>

<div class="row">
    <div class="col">
        <div class="alert alert-info">
            <h4>Progress of database deletion</h4>
            <ProgressBar Value="25" IsAnimated="true" ShowValue="true" LabelText="Progress of database deletion"/>
        </div>
    </div>
    <div class="col">
        <DialogBox DialogTitle="Delete Database"
            PrimaryButtonText="Yes"
            SecondaryButtonText="No"
            OnClickPrimary="Yes_Click"
            OnClickSecondary="No_Click">
            Are you sure you want to delete the entire database? Really?
        </DialogBox>

    </div>
</div>

@code {
    private void Yes_Click(MouseEventArgs e)
    {
        Console.WriteLine("User clicked 'Primary' button at ({0}, {1}).", e.ClientX, e.ClientY);
    }
    private void No_Click(MouseEventArgs e)
    {
        Console.WriteLine("User click 'Secondary' button at ({0}, {1}).", e.ClientX, e.ClientY);
    }
}
